**/.git
**/.gitignore
**/.vs
**/.vscode
**/.cursor
**/.idea
**/*.user
**/*.suo

**/bin
**/obj
**/node_modules
**/dist
**/tsp-output

**/*.log
**/.env
**/.env.*

**/tests
**/docs
**/packages
**/.github

Dockerfile*
docker-compose*
*.md
!src/**/*.md
